*{
    padding: 0;
    margin: 0;
    /* height: 100%; */
    /* transition: all 1s; */
}

body{
    height: 100%;
    width: 100%;
    background-color: #f4f7fc;    
    /* position: relative; */
}

/* header start */

.header{
    display: flex;
    position:fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    top:0;  
    height: 8vh;
    background-color: rgb(204, 162, 162);
    border-radius: 13px solid rgba(0, 0, 0, 0.253);
    z-index: 999;    
    box-shadow: rgba(17, 3, 3, 0.35) 0px 10px 15px;
}

.flex-header{
    background-color: rgb(108, 45, 159) ;
    flex: 1;    
}

.flex-header:hover{
    background-color: rgb(46, 34, 34);
    cursor:pointer;
    transition: 0.1s all;    
}

.flex-header:hover p{
    color: white;  
    cursor: pointer;
}

.flex-header p{
    position: relative;
    text-align: center;  
    top: 50%;
    transform:translateY(-50%);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

/* header end */

/* intro start */
.intro{
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    margin: auto;
    top: 8vh;    
    /* background-image:url('images/Ana\ Dobre.jpg'); */
    background-image: url('https://unsplash.it/1200');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    
    /* border: 1px solid black; */
}

.intro h1{
    position: static; 
    text-transform: lowercase;  
    font-weight: 100; 
    margin: 15px;
    display: inline-block;
    visibility: hidden;
    color: white;   
    font-size: 4rem;        
    transition: ease-in;
    transition-delay: 1s;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}


/* intro end */
.another{
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 160px 120px 50px 120px;    
    background-color: rgb(233, 227, 220);
    
    box-sizing: border-box;  
    
      
    /* background-color: rgb(185, 140, 140); */
    /* overflow: scroll; */
}

.another p{    
    font-size: 2vw;    
    top: 10vh;
    left: 0;
    line-height: 3.5rem;
    text-align: justify;
    text-indent: 6vw; 
}

.another p span{
    color:rgb(95, 18, 18);
    font-size: 5rem;
    margin-right: 5px;    
}

.another::after{
    content: '';
    position: absolute;
    display: block;
    height: 3vh;
    width: 90%;    
    left:5%;
    bottom:-1.5vh;
    background-color: rgb(107, 105, 105);
    box-shadow: rgba(17, 3, 3, 0.35) 0px 5px 15px;
    z-index: 22;
}




/* dezvoltare personala start */

.dezvoltare_personala_main {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 160px 120px 50px 120px;    
    background-color: bisque;    
    box-sizing: border-box;
}

.dezvoltare_personala_main h2{
    
    font-size: 4rem;
    text-align: center;
    color: cadetblue;
    text-align: center;
    text-shadow:  rgba(17, 3, 3, 0.35) 0px 5px 6px;
}

.dezvoltare_personala_main h4{
    font-size: 2.5rem;
    display: relative;
    margin: 40px;
    text-align: center;
}

.dezvoltare_personala_main p{
    font-size: 2rem;
}

.dezvoltare_personala_main hr{
    position: relative;
    display: block;
    height: 3px;
    background-color: teal;
    border-radius: 50%;
    width: 70%;
    margin: auto;
    top: 20px;
}

.dezvoltare_personala_main::after{
    content: '';
    position: absolute;
    display: block;
    height: 3vh;
    width: 90%;    
    left:5%;
    bottom:-1.5vh;
    background-color: rgb(194, 107, 107);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}



/* despre terapie start */

.despre_terapie_main{
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 160px 120px 50px 120px;     
    background-color: #0093E9;
    background-image: linear-gradient(58deg, #0093E9 0%, #80D0C7 77%, #aa2557 100%);        
    box-sizing: border-box;
    text-indent: 6vw;
}

.despre_terapie_main p{
    font-size: 2rem;
    text-align:start;
         
}

.despre_terapie_main h2{
    font-size: 3rem;
    text-align: center;
    margin-top: -55px;
    text-shadow:  rgba(17, 3, 3, 0.35) 0px 5px 6px;
}

.despre_terapie_main h3{
    font-size: 2.3rem;
    text-align: center;
    margin: 20px;
    color: rgb(19, 36, 30);
    text-decoration: underline;    
}

.despre_terapie_main::after{
   content: '';
    position: absolute;
    display: block;
    height: 3vh;
    width: 90%;    
    left:5%;
    bottom:-1.5vh;
    background-color: rgb(107, 105, 105);
    box-shadow: rgba(17, 3, 3, 0.35) 0px 5px 15px;
    z-index: 132;
}

/* despre terapie end */

/* cabinet start */
.cabinetul{
    background-color: #e8e8e8;
background-image: linear-gradient(0deg, #e8e8e8 0%, #a8a8a8 100%);

    display: block; 
    position: relative;   
    width: 100%;
    min-height: 100vh;
    padding: 160px 120px 50px 120px;   
    box-sizing: border-box;   
}

.cabinetul h1{
    background-color: rgb(119, 177, 62);    
    color: rgb(56, 14, 14);
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 100px 200px;    
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* cabinet end */

/* contact start */
.contact_main{     
    display: block; 
    position: relative;   
    width: 100%;    
    height: 100vh;
    padding: 5vh 120px 5vh 120px;   
    box-sizing: border-box;
    background-image: url(./images/contact\ image.jpg);   
    background-repeat: no-repeat;     
    background-size: cover;     
    
}



.example{
    height: 100%;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.5); */
    opacity: 1;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

.example h1{
    position: relative;
    display: inline-block;
    color: white;
    line-height: 47px;
    border-radius: 10px;
    top: 40px;
    font-weight: bold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
    background-color: rgb(44, 44, 44);
    
}

.contact_form{
    /* background-color: red; */
    height: 60vh;
    position: relative;
    top: 50px;
    display: block;
    font-size: 2rem;
   
}

#fname{
    display: block;
    position: relative;
    width: 50%;
    height: 4vh;
    text-align: center;    
    margin: auto;
    margin-top: 10px;
    background-color: rgba(207, 207, 207, 0.9);
    top:2vh;
    font-size: 1.3rem;
    border: none;
    outline: none;
    box-shadow: rgb(225, 228, 231) 0px 20px 30px -10px; 
}

#email{
    display: block;
    position: relative;
    width: 50%;
    height: 4vh;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(207, 207, 207, 0.9);
    top:2vh;
    font-size: 1.3rem;
    border: none;    
    outline: none;
    box-shadow: rgb(225, 228, 231) 0px 20px 30px -10px; 
}

#textarea{
    display: block;
    position: relative;
    width: 50%;
    resize: none;
    height: 33vh;    
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: #eeeeeeea;
    top:2vh;
    font-size: 1.5rem;
    border: none;
    outline: none;
    box-shadow: rgb(212, 212, 212) 0px 20px 30px -10px; 
}

.contact_form button{
    position: relative;
    top: 3vh;
    padding: 5px;
    width: 50%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.2s all;
}

.contact_form button:hover{
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 7px;
    border: 3px solid rgb(255, 255, 255)
}
/* contact end */

/* footer start */

.footer{
    /* display: block; */
    position: relative;
    height: 10%;
    width: 100%;       
    background-color:rgb(108, 45, 159) ;
    text-align: center;
    color: #AB0066;    
}

.social-container {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.social-container a{
    color:#fff;
    background: #DB6E82;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.social-container a:hover{
    background: #ef92a3;
}

.social-container a span{    
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-container a span::before{
    content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

.social-container a:hover span{
  bottom:50px;
  visibility:visible;
  opacity:1;
}

a:nth-of-type(1):before {
content:'\f09a';
}
a:nth-of-type(2):before {
content:'\f16d';
}
a:nth-of-type(3):before {
content:'\f0e1';
}
a:nth-of-type(4):before {
content:'\f232';
}
a:nth-of-type(5):before {
content:'\f167';
}
a:nth-of-type(6):before {
content:'\f10b';
}