*{
    padding: 0;
    margin: 0;
    /* transition: all 1s; */
}

body{
    height: 200%;
    width: 100%;
    background-color: rgb(255, 255, 255);    
    
}

/* header start */

.header{
    display: flex;
    position:fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    top:0;  
    height: 8vh;
    background-color: rgb(204, 162, 162);
    border-radius: 13px solid rgba(0, 0, 0, 0.253);
    z-index: 1;    
}

.flex-header{
    background-color: rgb(124, 102, 102);
    flex: 1;
    /* border: 1px solid black; */      
}

.flex-header:hover{
    background-color: rgb(46, 34, 34);
    transition: 0.1s all;    
}

.flex-header:hover p{
    color: white;  
}

.flex-header p{
    position: relative;
    text-align: center;  
    top: 50%;
    transform:translateY(-50%);
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 700;
}

/* header end */

/* intro start */
.intro{
    position: relative;
    display: block;
    height: 100vh;
    width: 90vw;
    margin: auto;
    top: 8vh;
    background-image:url('images/Ana\ Dobre.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    
    /* border: 1px solid black; */
}

.intro h1{
    position: static; 
    text-transform: lowercase;  
    font-weight: 100; 
    margin: 15px;
    display: inline-block;
    visibility: hidden;
    color: white;   
    font-size: 4rem;        
    transition: ease-in;
    transition-delay: 1s;
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 10px;
    padding: 10px;
    transform: rotate(-5deg);
}
/* intro end */
.another{
    position: relative;
    display: block;
    padding: 150px 30px;
    box-sizing: border-box;
    height: 100vh;
    top: 8vh;
    margin: auto;
    width: 90vw;  
    
      
    /* background-color: rgb(185, 140, 140); */
    /* overflow: scroll; */
}

.another p{
    initial-letter: 10px;
    font-size: 2rem;
    /* background-color: rgba(0, 255, 255, 0.185); */
    top: 10vh;
    left: 0;
    line-height: 4rem;
    text-align: justify;
    text-indent: 6vw;
    
}

.another p span{
    color:rgb(218, 208, 208);
    font-size: 5rem;
    margin-right: 5px;
    top: 1120px;
}

/* footer start */
footer{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: yellow;
}


.footer{
    position: relative;    
    display: block;
    height: 14vh;
    bottom: 0;    
    width: 100%;
    background-color: red;  
}

.footer h3{
    color: aliceblue ;
}